chromadb
python-dotenv
gradio
langchain_chroma
langchain_community
langchain_huggingface
langgraph
openai-whisper
pyaudio
pypdf
sentence_transformers
soundfile
SpeechRecognition
tiktoken
typing-extensions